@import "style.css";
main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/images/bg.jpeg");
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282828dd;
  border: 3px solid #3c3836;
  padding: 3rem;
}
main div {
  max-width: 500px;
  padding: 10px;
  font-size: 1.3rem;
  text-align: center;
}

@media screen and (max-width: 799px) {
  main {
    padding: 0;
    display: block;
  }
  .content {
    height: 100%;
    max-width: none;
    border: none !important;
  }
}

#title {
  text-align: center;
  font-size: 3rem;
  line-height: 5rem !important;
  font-weight: 800;
  background: -webkit-linear-gradient(90deg, #665c54 0%, #ebdbb2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.english {
  color: #a89984;
  font-weight: 500;
}
