@font-face {
  font-family: "Yriga";
  src: url("/assets/fonts/yriga.ttf") format("truetype");
}
@font-face {
  font-family: "FiraCode Nerd Font";
  src: url("/assets/fonts/firacodenerdfont.ttf") format("truetype");
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Montserrat", sans-serif, "FiraCode Nerd Font";
  box-sizing: border-box;
}

.kesha,
.kesha *,
.part *:nth-child(1),
.part *:nth-child(2) {
  font-family: "Yriga", sans-serif, "FiraCode Nerd Font";
  line-height: 2em;
}

.romankesha,
.latin {
  font-family: "Montserrat", sans-serif, "FiraCode Nerd Font" !important;
}

html:lang(eud) .part > *:not(:nth-child(1)),
html:not([lang]) .part > *:not(:nth-child(1)) {
  display: none;
}
html:lang(pro) .part > *:not(:nth-child(2)) {
  display: none;
}
html:lang(en) .part > *:not(:nth-child(3)) {
  display: none;
}

main {
  background-color: #282828;
  color: #ebdbb2;
  width: 700px;
  margin: 0 auto;
  padding: 1rem 3rem;
}

body.mobile main {
  padding-top: 3rem;
}

html,
body {
  height: 100%;
}

body {
  background-color: #282828;
  margin: 0;
  margin-left: 214px;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.spacer {
  flex: 1;
}

header {
  height: 3rem;
  display: none;
  background-color: #3c3836;
  color: #a89984;
  position: fixed;
  width: 100vw;
  z-index: 1000;
}

header div {
  font-size: 2rem;
  line-height: 3rem;
  padding: 0 0.5rem;
  cursor: pointer;
}

body.mobile header {
  display: block;
}

nav {
  border-right: 2px #504945 solid;
  background-color: #3c3836;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.3rem;
}

body.mobile nav {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  display: none;
  padding-top: 3rem;
}

body.mobile nav .title {
  display: none;
}

body.mobile nav .links a {
  text-align: center;
  line-height: 2em;
  font-size: 1em;
}

nav .title {
  width: 212px;
  height: auto;
}

nav .title img {
  width: 212px;
  height: auto;
}

nav .links {
  display: flex;
  flex-direction: column;
}

nav .links a {
  padding: 0.3rem 0;
  color: #ebdbb2;
  text-decoration: none;
  text-align: end;
}
nav .links a .part {
  display: inline-block;
  padding: 0;
  color: #a89984;
}
nav .links a > div:nth-child(2) {
  display: inline-block;
  width: 3rem;
  text-align: center;
}

nav .links a:hover {
  background-color: #504945;
  color: #05647c;
}

nav .links a:hover .part {
  color: #d0932c;
}

nav .langicon {
  color: #a89984;
  text-align: end;
  padding: 3px 5px;
  font-size: 1.8rem;
}

nav .langselector {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  background-color: #3c3836;
  margin-right: -2px;
}

nav .langselector div {
  flex: 1;
  text-align: center;
  color: #a89984;
  border-top: 2px solid #504945;
  cursor: pointer;
  background-color: #1d2021;
}

nav .langselector .active {
  color: #d0932c;
  border-top: 2px solid #05647c;
  background-color: #282828;
}

nav #clock {
  padding-top: 1rem;
  font-size: 2rem;
  text-align: center;
  background-color: #504945;
  color: #ebdbb2;
}

nav #date {
  padding-bottom: 1rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: #504945;
  color: #a89984;
}

a {
  color: #458588;
}

@media screen and (max-width: 799px) {
  body {
    margin-left: 0;
  }
}
