<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>The tragedy that is the English language | Ijeðaroðokaš</title>
  <link rel="stylesheet" href="style.css" />
  <link
    rel="shortcut icon"
    href="/assets/images/icon2.svg"
    type="image/x-icon"
  />
  <script src="
    https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js
  "></script>
  <script src="/mobile.js"></script>
  <script src="/lang.js"></script>
  <script src="/roðai.js"></script>
  <script src="/clock.js"></script>
</head>

<body>
  <header>
    <div onclick="$('nav').fadeToggle(100);">󰍜</div>
  </header>
  <nav style="display: flex">
    <div class="title">
      <img
        src="/assets/images/banner.svg"
        alt="Ijeða Icon"
        width="50px"
        heigh="50px"
      />
    </div>
    <div class="spacer"></div>
    <div class="links">
      <a href="/index.html">
        <div class="part">
          <div>rauð</div>
          <div>raūða</div>
          <div>Home</div>
        </div>
        <div></div>
      </a>
      <a href="/library.html">
        <div class="part">
          <div>kjuzon</div>
          <div>kjūzuzon</div>
          <div>Library</div>
        </div>
        <div></div>
      </a>
      <a href="/resources.html">
        <div class="part">
          <div>karleðen</div>
          <div>kārleðen</div>
          <div>Resources</div>
        </div>
        <div>󰉖</div>
      </a>
      <a href="/learn.html">
        <div class="part">
          <div>kašte</div>
          <div>kāšte</div>
          <div>Learn</div>
        </div>
        <div>󱨢</div>
      </a>
      <a href="/calendar.html">
        <div class="part">
          <div>kanalan</div>
          <div>kānalan</div>
          <div>Calendar</div>
        </div>
        <div>󰃭</div>
      </a>
      <a href="/todo.html">
        <div class="part">
          <div>ðaþaro šai</div>
          <div>ðaþāro šai</div>
          <div>To-do</div>
        </div>
        <div>󰄭</div>
      </a>
      <a href="/aþase.html">
        <div class="part">
          <div>aþas</div>
          <div>aþāze</div>
          <div>Community</div>
        </div>
        <div></div>
      </a>
      <a href="/news.html">
        <div class="part">
          <div>os</div>
          <div>os</div>
          <div>News</div>
        </div>
        <div>󱀄</div>
      </a>
    </div>
    <div class="spacer"></div>
    <div class="langicon"></div>
    <div class="langselector">
      <div class="lang-eud" onclick="setlang('eud')">EUD</div>
      <div class="lang-pro" onclick="setlang('pro')">PRO</div>
      <div class="lang-en" onclick="setlang('en')">ENG</div>
    </div>
  </nav>
  <main>
    <h1>The tragedy that is the English Language</h1>
    By <span class="kesha">þēros</span> // 26 January 2023 / 19 Kōža 0
    <br />
    <br />
    So, i have a little bit of a massive distain for the language that is the
    most spoken on earth, the one commonly called "English". But, i have good
    reasons behind my hatred, and it will be the next few paragraphs or so. So
    sit tight, get prepared to learn another language, and enjoy my neverending
    rant about this lingua franca. <br />
    <br />
    It all starts with a question: Why English? Why not German or Spanish, but
    English? The world would be a much better place if English didn't take over.
    Why? Well, look at the spelling of words. Do they match with how they are
    pronounced? I mean, sure some of them are fine but a lot of them aren't. A
    good example is Sugar. To anyone learning the language, it looks like it
    should be /'su.gar/ but no, it is pronounced /ˈʃʊ.ɡɚ/. I cannot count the
    amount of times i tried spelling it Shuger, but thats only one word. How
    about the fact that "sure" and "shore" are nearly identical to eachother
    (and in some dialects they are), how "maybe" can trip literally anyone up,
    or "one" /wʊn/? Are you serious? and what about the -ough ending? You
    pronounce it 14 DIFFERENT WAYS! And NONE are /oux/! And what the hell is
    with the letters being pronounced literally any way (including not at all).
    <br />
    <br />
    OH but wait, there's more! Here is a list of things i want to cover:
    <ul>
      <li>Spelling</li>
      <li>Grammar</li>
      <li>Words in general</li>
      <li>The Fr*nch</li>
      <li>Why its so popular in the world</li>
      <li>What i would do to fix it</li>
    </ul>
    <h2>Chapter/part 1 ig</h2>
    <h2>The Spelling</h2>
    English uses a modified version of the Latin alphabet, which uses 26
    distinct glyps for - get this - 45 or so different sounds, half of them
    vowels. There are also capital letters, but i'm not including them because
    they are useless.
    <h3>CAPITAL LETTERS</h3>
    English uses capital letters in 3 areas:
    <ul>
      <li>Start of a sentence</li>
      <li>Proper nouns</li>
      <li>1st person singular pronoun AKA "i"</li>
    </ul>
    Why? Well i couldn't find a reason other than "it marks the beginning of a
    sentence" so i think it's stupid.
  </main>
</body>
